.App {
  text-align: center;
}

.App-logo {
  width: 10vw;
}

.App-header {
  color: #e0354b;
  display: flex;
  align-items: center;
  border-bottom: 3px solid;
}

.App-body {
  min-height: 30rem;
  text-align: left;
  padding-left: 1%;
  margin-top: 3%;
}
.App-footer {
  border-top: 3px #e0354b solid;
  text-align: center;
  font-style: italic;
}
